body{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    order: -1;
}

.logo img{
    width: 200px;
    height: auto;
}